h1{
    color:rgb(95, 43, 11);
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    
}
.headl{
    color: rgb(230, 186, 92);
}
p{
    background-color: white;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

